modules = ["nodejs-20", "web", "python-3.11"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0", "javascript_log_in_with_replit:1.0.0", "github:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend (Expo)"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Frontend (Expo)"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 24678
externalPort = 3001

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
EXPO_PUBLIC_API_URL = "https://8b83c109-c46e-4c06-a7f5-4d4a9fa455f6-00-24506hjk3wwor.picard.replit.dev"
